@import "./styles/layout.scss";
@import "./styles/navbar.scss";
@import "./styles/graphy.scss";
@import "./styles/tittle.scss";
@import "./styles/about.scss";
@import "./styles/contact.scss";
@import "./styles/portfolios.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #a4acc4;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2rem;
}

span {
  color: #037fff;
}
